.App {
  width: 100%;
  text-align: center;
  font-family: 'Arial', sans-serif;
}
h1{
  font-size: xx-large;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  padding: 0.8em;
  margin-right: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 20vw;
  height: 5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
input, input ::placeholder{
  font-size: large;
}

button {
  padding: 0.8em 1.2em;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  width: 11vw;
  height: 10vh;
  font-size: larger;
}

button:hover {
  background-color: #0056b3;
}
.switch-foren-cel{
  margin-left: 80%;
}

/* Toggle Switch Styles */
.checkbox-wrapper-17 {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.checkbox-wrapper-17 input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox-wrapper-17 label {
  --size: 50px;
  cursor: pointer;
  width: var(--size);
  height: calc(var(--size) / 2);
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.checkbox-wrapper-17 label:after {
  content: '';
  position: absolute;
  top: 6%;
  left: 2.5%;
  width: calc(50% - 5%);
  height: calc(100% - 11%);
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.checkbox-wrapper-17 input:checked + label {
  background: #bada55;
}

.checkbox-wrapper-17 input:checked + label:after {
  left: calc(100% - 2.5%);
  transform: translateX(-100%);
}

.checkbox-wrapper-17 label:active:after {
  width: 55%;
}

  .checkbox-wrapper-5 .check {
    margin-left: 85%;
    --size: 40px;
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"],
  .checkbox-wrapper-5 .check label,
  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after,
  .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }

  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
  }

  .checkbox-wrapper-5 .check label::before,
  .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }

  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }

  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }


/* Light Mode Styles */
.light-mode {
  background: #f0f4f8;
  color: #333;
  .favorites{
    background-color: #f0f4f8;
  }
}

.light-mode .weather-card {
  background: white;
}

/* Dark Mode Styles */
.dark-mode {
  background: #333;
  color: #f0f4f8;
  .favorites{
    color: #dedede;
  }
}

.dark-mode .weather-card {
  background: #444;
}

.weather-card {
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: inherit;
}

.weather-card h2 {
  margin-top: 0;
}

.weather-card .current-weather {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.weather-card .forecast {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  background-size: cover;
  background-position: center;
  font-weight: 800;
  height: 20vh;
}

.forecast-item:last-child {
  border-bottom: none;
}

/* Favorites Component Styles */
.favorites {
  color: #333;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.favorites h2 {
  margin-top: 0;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.favorite-item:last-child {
  border-bottom: none;
}

.favorite-item button {
  background-color: #dc3545;
}

.favorite-item button:hover {
  background-color: #c82333;
}
